<img class="ui tiny image"
*ngIf="book.thumbnails && book.thumbnails[0] && book.thumbnails[0].url"
[src]="book.thumbnails[0].url" [title]="book.thumbnails[0].title" bmZoom>      <!-- Die Bilddatei wird eingelesen -->
<div class="content">                               <!-- Der Content wird geöffnet -->
 <div class="header">{{ book.title }}</div>        <!-- Der Buchtitel wird geschrieben -->
 <div *ngIf="book.subtitle" class="description">{{ book.subtitle }}</div>  <!-- Ist ein subtitle bekannt, wird er eingefügt -->
 <div class="metadata">
   <span *ngFor="let author of book.authors; last as letzter">  <!-- Die Autoren werden aus einer Tabelle eingefügt -->
     {{ author }}<span *ngIf="!letzter">, </span>  <!-- Wurde der letzte Tabelleneintrag gelesen ist 'letzter' = wahr -->
   </span>                                         <!-- Solange letzter = unwahr, wird ein Komma ausgegeben -->
   <br>
<!-- Änderung der folgenden Zeile mit Iteration 5 -->
   ISBN {{ book.isbn | isbn }}  <!-- Der String "ISBN " wird geschrieben und der Inhalt des aktuellen DOM-Property wird angehängt -->
 </div>
</div>
