<img src="./../../assets/imgages/generali.jpg">
<h1>Willkommen bei der Generali Deutschland AG</h1>

<h3>Mit welchem System wollen Sie arbeiten ?</h3>

<table>
  <tr>
    <td>
      <a class="ui tiny blue labeled icon button"
      [routerLink]="['../gev']" routerLinkActive="active">
      <i class="write icon"></i>Schadensystem
      </a>
    </td>

    <td>
      <a class="ui tiny black labeled icon button"
      [routerLink]="['../vertrag']" routerLinkActive="active">
      <i class="write icon"></i>Vertragssystem
      </a>
    </td>
  </tr>
</table>



