<div class="ui middle aligned selection divided list">  <!-- Element des Styleframeworks Semantic UI -->
  <bm-book-list-item class="item"
    *ngFor="let b of books"
    [book]="b"
    (click)="showDetails(b)">
    </bm-book-list-item>
</div>
<!-- "books" ist die (exportierte) Tabelle aus component.ts-->
<!-- Im Attribut "book" übergeben wir das aktuell "Book-Objekt" an das aktuelle "book-list-item" -->
<!-- (click)="showDetails(b)" ist ein Event-Binding für den Klick auf ein Buch -->
<!-- Wird ein Buch angeklickt, wird die Methode showDetails() aufgerufen und als Payload wird -->
<!-- das aktuelle Buch aus der Liste übergeben. Dieses Buch wird in der Hauptkomponente gespeichert -->
<!-- und von dort aus an die Detailkomponente übergeben -->
