<sd-schaden-kopf></sd-schaden-kopf>

<form class="ui form"
  [formGroup]="sucheForm">

  <label><h2>SDNR</h2></label>
  <input formControlName="sdnr" type="text"
         (keyup)="taste($event)"
         [readOnly]="sdnrGesperrt"
         placeholder="Geben Sie bitte eine SDNR ein ..."
         >
  <sd-fehlermeldungen
  [control]="sucheForm.get('sdnr')"
  controlName="sdnr">
  </sd-fehlermeldungen>

  <label><h2>VNR</h2></label>
  <input formControlName="vnr" type="text"
         (keyup)="taste($event)"
         [readOnly]="vnrGesperrt"
         placeholder="Geben Sie bitte eine VNR ein ..."
         >
  <sd-fehlermeldungen
  [control]="sucheForm.get('vnr')"
  controlName="vnr">
  </sd-fehlermeldungen>

  <p>
    <button class="ui button" type="submit"
     [disabled]="sucheForm.invalid"
     (click)="suchenObgr()">Suchen</button>
  </p>
</form>

<div class="ui middle aligned selection divided list">
    <ng-container *ngIf="schaden$ | async as schaeden">
      <ng-container *ngFor="let s of schaeden; index as i">
        <a [routerLink]="['/gev', schaeden[i].sdnr]" routerLinkActive="active">
          <sd-schaden-liste-item class="item"
             [schaden]="schaeden[i]">
          </sd-schaden-liste-item>
        </a>
      </ng-container>
    </ng-container>

    <ng-template #loading>
      <div class="ui active dimmer">
        <div class="ui large text loader">Daten werden geladen...</div>
      </div>
    </ng-template>
</div>
<ng-container *ngIf="schaden$ | async as schaeden">
  <h3>Bitte wählen Sie Ihren Schaden</h3>
</ng-container>

