<sd-schaden-kopf></sd-schaden-kopf>

<h2>Geben Sie bitte Ihren Suchbegriff ein</h2>
<BR>

<form class="ui form"
  [formGroup]="sucheForm">

  <label><h2><span>SDNR</span></h2></label>
  <input formControlName="sdnr" type="text"
         (keyup)="taste($event)"
         [readOnly]="sdnrGesperrt"
         placeholder="Geben Sie bitte eine SDNR ein ..."
         >
  <sd-fehlermeldungen
  [control]="sucheForm.get('sdnr')"
  controlName="sdnr">
  </sd-fehlermeldungen>

  <label><h2><span>VNR</span></h2></label>
  <input formControlName="vnr" type="text"
         (keyup)="taste($event)"
         [readOnly]="vnrGesperrt"
         placeholder="Geben Sie bitte eine VNR ein ..."
         >
  <sd-fehlermeldungen
  [control]="sucheForm.get('vnr')"
  controlName="vnr">
  </sd-fehlermeldungen>

  <table>
    <tr>
     <td>
     <p>
       <button class="ui tiny green labeled icon button" type="submit"
        [disabled]="sucheForm.invalid"
        (click)="suchenObgr()"><i class="right arrow icon"></i>Suchen</button>
     </p>
     </td>
     <td>
     <a class="ui tiny red labeled icon button"
        [routerLink]="['/gev/create', '000000000']" routerLinkActive="active">
        <i class="write icon"></i>Neuschaden anlegen
     </a>
    </td>
  </tr>
</table>

</form>

<div class="ui middle aligned selection divided list">
    <ng-container *ngIf="schaden$ | async as schaeden">
      <ng-container *ngFor="let s of schaeden; index as i">
        <a [routerLink]="['/gev', schaeden[i].sdnr]" routerLinkActive="active">
          <sd-schaden-liste-item class="item"
             [schaden]="schaeden[i]">
          </sd-schaden-liste-item>
        </a>
      </ng-container>
    </ng-container>

    <ng-template #loading>
      <div class="ui active dimmer">
        <div class="ui large text loader">Daten werden geladen...</div>
      </div>
    </ng-template>
</div>

<ng-container *ngIf="schaden$ | async as schaeden">
  <h3>Bitte wählen Sie Ihren Schaden</h3>
</ng-container>

