<form class="ui form"
  [formGroup]="schadenForm"
  (ngSubmit)="submitForm()">

  <label><h3>SD-TYP</h3></label>
  <input formControlName="sdTyp" type="text"
         >
  <sd-fehlermeldungen
  [control]="schadenForm.get('sdTyp')"
  controlName="sdTyp">
  </sd-fehlermeldungen>

  <label><h3>SD-URSACHE</h3></label>
  <input formControlName="sdUrsache" type="text"
         >
  <sd-fehlermeldungen
  [control]="schadenForm.get('sdUrsache')"
  controlName="sdUrsache">
  </sd-fehlermeldungen>

  <label><h3>SPARTE</h3></label>
  <input formControlName="sparte" type="text"
         >
  <sd-fehlermeldungen
  [control]="schadenForm.get('sparte')"
  controlName="sparte">
  </sd-fehlermeldungen>

  <label><h3>VNR</h3></label>
  <input formControlName="vnr" type="text"
         >
  <sd-fehlermeldungen
  [control]="schadenForm.get('vnr')"
  controlName="vnr">
  </sd-fehlermeldungen>

  <button class="ui tiny green labeled icon button" type="submit"
  [disabled]="schadenForm.invalid">
  <i class="write icon"></i>Speichern
  </button>
  <ng-container *ngIf="schadenKlasse.sdnr !== '999999999' ">
    <a class="ui tiny red labeled icon button"
      [routerLink]="['../../', schadenKlasse.sdnr]">
      <i class="remove icon"></i> Bearbeitung abbrechen
    </a>
  </ng-container>
  <ng-container *ngIf="schadenKlasse.sdnr === '999999999' ">
    <a class="ui tiny red labeled icon button"
      [routerLink]="['../../']">
      <i class="remove icon"></i> Bearbeitung abbrechen
    </a>
  </ng-container>
</form>
