<div class="content">
  <table>
    <tr>
      <TD width=100>
        <h4>GES-KZ</h4>
      </TD>
      <TD width=150>
        <h4>Schadennummer</h4>
      </TD>
      <TD width=100>
        <h4>SD-Typ</h4>
      </TD>
      <TD width=100>
        <h4>SD-Ursache</h4>
      </TD>
      <TD width=100>
        <h4>Sparte</h4>
      </TD>
      <TD width=100>
        <h4>VNR</h4>
      </TD>
    </tr>
    <tr>
      <TD>
        <span>
          {{schaden.geskz}}
        </span>
      </TD>
      <TD>
        <span>
          {{schaden.sdnr}}
        </span>
      </TD>
      <TD>
        <span>
          {{schaden.sdTyp}}
        </span>
      </TD>
      <TD>
        <span>
          {{schaden.sdUrsache}}
        </span>
      </TD>
      <TD>
        <span>
          {{schaden.sparte}}
        </span>
      </TD>
      <TD>
        <span>
          {{schaden.vnr}}
        </span>
      </TD>
    </tr>
  </table>
</div>
